<!--
    Authors: Tom Zielinski,
             Calvin May
    Date: 04/16/2021
    Purpose: WEBD-6201 W2021, Lab 4 Demo Site
    Description: A custom Error Page that will display errors to the user
                while using the site format.
-->
<h1 class="mt-3"> <%=type %>- <%=message %> &emsp; <i class="fas fa-heart-broken fa-lg"></i></h1>