<div class="row justify-content-around">
<div id="about-calvin" class="col-4 mt-5 about-background">
    <img src="./../../../Client/Assets/Pictures/Calvin.jpg" class="headshot-portrait" alt="Headshot of Calvin">
    <h2>Calvin May</h2>
    <a href="files/resumes/Calvin_Resume.pdf" target="_blank" , class="btn btn-primary">Resume</a>
    <hr />
    <p>
        Hi, my name's Calvin. <br /><br />
        I'm a Coop Student at Durham College working towards an Advanced Diploma in
        Computer Programming & Analysis. If you've stumbled upon this website, you're
        probably my professor, hey Tom! I hope grading isn't taking up too much of your
        time, see you in class! <br />
        If your not my professor, that was a bit awkward. <br />
        I'm an aspiring developer, like my friend Tom to your right, and have experience
        in several programming languages like C#, C++, and PHP. But this website doesn't
        use PHP. The dynamic portions of this website are programmed using JavaScript
        and DOM Manipulation.
        <br /> <br />
        If you want to get to know me a bit more, click the resume button by my name or
        take a look at my linkedIn Account. <br />
        <a class="nav-link" href="https://www.linkedin.com/in/calvin-may-384798200/">My LinkedIn</a>
    </p>
</div>
<div id="about-tom" class="col-4 mt-5 about-background">
    <source src="Assets/Pictures/Tom.jpeg" class="headshot-portrait" alt="Headshot of Tom">
    <h2>Tom Zielinski</h2>
    <a href="files/resumes/Tom_Resume.pdf" target="_blank", class="btn btn-primary">Resume</a>
    <hr />
    <p>
        Hello, My name is Tom Zielinski.<br /><br />
        I am a second year student at Durham College enrolled in the Computer Programming & Analysis program.
        I’m passionate about coding and learning how things work.
        I also have a strong understanding for the fundamentals of code which allows me to easily understand new concepts
        and languages.
        <br />
        Over the last year I learned C#/C++, PHP, MySQL, HTML/CSS, and .NET in depth. I also learned
        different software development methodologies such as Agile and Waterfall. Since I have always
        been interested in computer programming, I wanted to keep learning even after school was
        finished for the year. Over this year, I’ve been teaching myself JavaScript (JSON, React, NodeJS,
        Express and MongoDB) and Git/Github through creating multiple web-apps as side projects, as
        well as creating a personal website to sharpen my skills in HTML/CSS. For fun, I recreated the
        Snake game in C#, and I learned how to use Unity to create an Angry Birds replica in C#
        <br />
        If this interests you please visit my LinkedIn <a class="nav-link"
            href="https://www.linkedin.com/in/tom-zielinski-904262201/">LinkedIn</a>
        If you want to look at some of my Projects feel free to look at my GitHub<a class="nav-link"
            href="https://github.com/Tomelinski?tab=repositories">GitHub</a>
    </p>
</div>