    <div class="row offset-md-3 col-md-6 col-sm-12 mt-3 form-background">
    <h1>Welcome to WEBD 6201</h1>
    <p id="paragraphOne">
        We are two students from Durham College who are passionate and fascitated with computer technologies. 
        We have spent the last 2+ years learning and mastering the art of computer programming and this is our Lab 4 demonstration project.
        </br>
        If you like what you see, please feel free to  <a href="/contact">contact us</a>.
    </p>
</div>