<!--
    Authors: Tom Zielinski,
             Calvin May
    Date: 04/16/2021
    Purpose: WEBD-6201 W2021, Lab 4 Demo Site
    Description: A Partial HTML Page; This is the Projects Page. It shows a short list
                of our Projects along with a quick description.
-->

div class="container">
    <div class="justify-content-center">

        <div id="project1" class="col-12 mt-5 about-background">
            <img src="Assets/Pictures/Snake.png" class="projectOnePic" alt="A screenshot of the Snake project">
            <h2>Snake Game Project</h2>
            <p>
                This is our project of recreating the famous Snack game in C#. We utilized enum's and a variety of functions to make
                it function exactly like the real snake game
            </p>
        </div>
        <div id="project2" class="col-12 mt-5 about-background">
            <img src="Assets/Pictures/TripLogger.JPG" class="projectTwoPic" alt="A screenshot of the Trip Logger website">
            <h2>Trip Logger Website</h2>
            <p>
                This is Tom's Website, the Trip loggerUsers can login to their account and track where they've been in the world, and
                store their favourite memery and picture from that location.
                This web app was built with a React front-end, Node/Express back-end and a MongoDB database. This app utilizes the
                Google Maps Embed and Google Geolocation APIs, and features a REST API in the back-end.
            </p>
        </div>
        <div id="project3" class="col-12 mt-5 about-background">
            <img src="Assets/Pictures/MadBirds.JPG" class="projectThreePic" alt="Screenshot of the Mad Birds game.">
            <h2>Angry birds replica Game Project</h2>
            <p>
                This is our Replica of Angry birds called MadBirds for copy write reasons. We Utilized Unity to create an environment
                that can recreate gravity and simulate the many features we required to make this possible
            </p>
        </div>
    </div>
</div>