<!--
    Authors: Tom Zielinski,
             Calvin May
    Date: 04/16/2021
    Purpose: WEBD-6201 W2021, Lab 4 Demo Site
    Description: A Partial HTML Page; This is the Services Page. It shows a quick list
                of our offered services; each has a picture as well.
-->

<div class="container">
    <div class="justify-content-center">

        <div id="service1" class="col-12 mt-5 about-background">
            <img src="Assets/Pictures/service_webdev.jpg" class="serviceOnePic" alt="A laptop with html code.">
            <h2>Custom Web Pages</h2>
            <hr />
            <p>
                Tom and Calvin have extensive experience creating reliable, secure, and responsive websites.
                With experience in several languages such as JavaScript, PHP, C#, HTMl, and CSS you can trust us
                to develop the modern website that you desire.
            </p>
        </div>
        <div id="service2" class="col-12 mt-5 about-background">
            <img src="Assets/Pictures/service_dotnet.png" class="serviceTwoPic" alt="Dot Net Logo">
            <h2>Interactive .NET Applications</h2>
            <hr />
            <p>
                Tom and Calvin have utilized the .NET and .NET Core frameworks to deploy interactive Windows Forms
                and Web Applications. Some of these projects have been hosted on the Azure Cloud Service and follow
                the Model-View-Controller design pattern.
            </p>
        </div>
        <div id="service3" class="col-12 mt-5 about-background">
            <img src="Assets/Pictures/service_game.jpg" class="serviceThreePic" alt="A picture of playing dice.">
            <h2>Basic Game Development</h2>
            <hr />
            <p>
                Both Tom and Calvin have been able to apply strong problem-solving, programming, and design skills to
                create basic interactive games such as, Snake game and Angry Bird clones as well as basic Text RPG's
                and Platformers.
            </p>
        </div>
    </div>
</div>