<!--
    Authors: Tom Zielinski,
             Calvin May
    Date: 04/16/2021
    Purpose: WEBD-6201 W2021, Lab 4 Demo Site
    Description: A Default Error Page
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
